<ion-app>
  <ion-menu class="sidebg ion-padding" side="start" menuId="letexam-menu" contentId="mainmenu">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="assets/icon/userprofile.png">
        <ion-label>
          <h2 class="uname">{{userFullname}}</h2>
        </ion-label>
    </div>
      <ion-list>
        <ion-menu-toggle>
          <ion-item class="lalag" href="/home">
            <ion-icon class="iconn" name="home" slot="start"></ion-icon>
            <ion-label class="lab">Home</ion-label>
          </ion-item>
        </ion-menu-toggle> 
        <ion-menu-toggle>
          <ion-item class="lalag" routerLink="/general-education">
            <ion-icon class="iconn" name="bookmarks" slot="start"></ion-icon>
            <ion-label class="lab">General Education</ion-label>
          </ion-item>
        </ion-menu-toggle> 
        <ion-menu-toggle>
          <ion-item class="lalag" routerLink="/professional-education">
            <ion-icon class="iconn" name="bookmarks" slot="start"></ion-icon>
            <ion-label class="lab">Professional Education</ion-label>
          </ion-item>
        </ion-menu-toggle> 
        <ion-menu-toggle>
          <ion-item class="lalag" routerLink="/area-of-specialization">
            <ion-icon class="iconn" name="bookmarks" slot="start"></ion-icon>
            <ion-label class="lab">Majorship</ion-label>
          </ion-item>
        </ion-menu-toggle> 
        <ion-menu-toggle>
          <div class="nextBtn">
            <ion-button class="logout" (click)="Logout()">Log Out</ion-button>
          </div>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="mainmenu"></ion-router-outlet>
</ion-app>
