<ion-toolbar class="toolbars">
  <ion-buttons slot="start">
    <ion-menu-button class="topbtn" menu="letexam-menu" autoHide="false"></ion-menu-button>
  </ion-buttons>
  <h4 class="title">Licensure Examination <br> for Teachers</h4>
</ion-toolbar>

<ion-content class="pageContent">
  <ion-card id="hovthisGE" class="ge">
    <div class="cent"><h4>Area Of Specialization</h4></div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="product" *ngFor="let exam of quizzes" (click)="navigateToNewPage(exam)">
            <ion-card-header>
              <img class="day" src="assets/logs/letbg1.jpg" class="gelogo">
            </ion-card-header>
            <ion-card-content>
              <h5 class="productname">{{part[exam]}}</h5>
              <p>50 items</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="aoscard" *ngFor="let exams of examss" (click)="navigateToNewPage(exams)">
            <ion-card-header>
              <img class="day" src="assets/logs/letbg1.jpg" class="gelogo">
            </ion-card-header>
            <ion-card-content>
              <h5 class="productname">{{parts[exams]}}</h5>
              <p>50 items</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      </ion-grid>
  </ion-card>

</ion-content>
