<ion-header>
  <ion-toolbar color="primary">
    <center><h1>Multiple-Choice Exam</h1></center>
    <ion-buttons slot="start"><ion-menu-button menu="neust-menu"></ion-menu-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="prevAnswered.length <= 4" class="answers">
    <ion-card-header>
      <h4>{{ prevAnswered.length }} of {{ quizzes.length }}</h4>
      <h4>{{ quizzes[currentQuiz]?.Questions }}</h4>
    </ion-card-header>
    <ion-card-content class="answers__list" *ngFor="let quiz of quizzes[currentQuiz]?.MultipleChoice">
      <ion-radio-group (ionChange)="onAnswer(quiz.correct)">
      <ion-item>
          <ion-label>{{ quiz.choices }}</ion-label>
          <ion-radio value="{{ quiz.choices }}" [disabled]="answerSelected" ion slot="start"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>   
  <div *ngIf="prevAnswered.length > 4">
    <button class="btn" (click)="showResult()" *ngIf="resultStatus === 'Show Result'">{{ resultStatus }}</button>
    <button class="btn btn--new" (click)="playAgain()" *ngIf="resultStatus !== 'Show Result'">{{ resultStatus }}</button>
    <div *ngIf="result">
      Correct Answers: {{ correctAnswers }} | Inocrrect Answers: {{ incorrectAnswers }}
    </div>
    </div>
</ion-content>