<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LET Exam Reviewer
    </ion-title>
    <ion-buttons slot="start"><ion-menu-button menu="letexam-menu"></ion-menu-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card id="hovthisGE" (click)="goGEED()">
      <ion-card-header>
        <img src="assets/HomeLogo/GELOGO.png" class="gelogo">
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
    <ion-card id="hovthisGE" (click)="goPEED()">
      <ion-card-header>
        <img src="assets/HomeLogo/GELOGO.png" class="gelogo">
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
    <ion-card id="hovthisGE" (click)="goAOS()">
      <ion-card-header>
        <img src="assets/HomeLogo/GELOGO.png" class="gelogo">
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
</ion-content>
