<ion-header [translucent]="true">
  <ion-toolbar id="headCol">
    <div class="headtit">
      <h4 class="title">Licensure Examination <br> for Teachers</h4>
    </div>
    <div class="bgbut"></div>
    <ion-buttons slot="end" id="pos"><ion-menu-button menu="letexam-menu"><ion-icon name="list-outline"></ion-icon></ion-menu-button></ion-buttons>
    <!-- <img slot="end" style="margin-right: 20px; border-radius: 13px;" src="assets/icon/profile1.png" width="50"> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card id="hovthisGE" class="ge" (click)="goGEED()">
      <ion-card-header>
        <img src="assets/logs/gened.png" class="gelogo">
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
    <ion-card id="hovthisGE" class="pe" (click)="goPEED()">
      <ion-card-header>
        <img src="assets/logs/profed.png" class="gelogo">
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
    <ion-card id="hovthisGE" class="aos" (click)="goAOS()">
      <ion-card-header>
        <img src="assets/logs/aos.png" class="gelogo">
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
</ion-content>
