<ion-label> "Rennie Boy believes that everything that happens in this world has a cause or a reason What scientific attitude is seen in his actions?",
          "MultipleChoice": [
            { "choices" : "curiosity" , "correct": false },
            { "choices" : "firm set of beliefs", "correct": false },
            { "choices" : "honesty", "correct": true },
            { "choices" : "critical-mindedness", "correct": false }
          ]
      },
      {
          <ion-label> "_____ it never recycled any waste materials, the company’s environmental record was not perfect.",
          "MultipleChoice": [
              { "choices" : "For", "correct": false },
              { "choices" : "In that", "correct": false  },
              { "choices" : "With" , "correct": true },
              { "choices" : "Due to ", "correct": false }
          ]
      },
      {
          <ion-label>"Our guest of honor was a loquacious speaker. Loquacious means:",
          "MultipleChoice": [
              { "choices" : "reserved" , "correct": false },
              { "choices" : "verbose" , "correct": true },
              { "choices" : "reticent" , "correct": false },
              { "choices" : "spiritless" , "correct": false }
          ]
      },
      {
          <ion-label>"The sociological concept of home for most Filipino is the presence of _____.",
          "MultipleChoice": [
              { "choices" : " families with boarders in addition to the family members" , "correct": false },
              { "choices" : " nuclear family and extended families" , "correct": false },
              { "choices" : " families with illegal light and water connections" , "correct": true },
              { "choices" : " families with pet dogs and cats" , "correct": false }
          ]
      },
      {
        <ion-label>"A man is known by the company he keeps. This is an example of a _____"</ion-label>
        "MultipleChoice": [
            { "choices" : "report" , "correct": false },
            { "choices" : "rule" , "correct": false },
            { "choices" : "poem" , "correct": false },
            { "choices" : "proverb" , "correct": true }
        ]
    },
    {
        <ion-label>"Which of the following is the ultimate purpose of Human Right Education?",
        "MultipleChoice": [
            { "choices" : "to identify threats of human rights" , "correct": false },
            { "choices" : "to generate awareness of one’s basic rights" , "correct": true },
            { "choices" : "to check on abuses in the exercise of human rights", "correct": false },
            { "choices" : "to understand and change conditions whic" , "correct": false }
        ]
    },